h2{
    text-align: center;
    color: whitesmoke;
}

.selects{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    margin-top: 0.2rem;
    margin-left: 10px;
    margin-bottom: 0.2rem;
    background-color: #045ECD;
    padding-left: 15px;
    min-height: 40%;
    border: 0.1rem solid black;
    color:#DAD2E9;
    border-radius: 10px;
    box-shadow: 7px 15px 5px #485299;
}

.consulta{   
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: 25%;
    background-color: #28B1A6; 
    height: 2rem;    
    border: 0.1rem solid black;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: #eddbd3;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;    
}

.consulta:hover{
    background-color: #91f5ce; 
    color: #4f2220;
    font-weight: bold;
    box-shadow: 7px 5px 5px #32333a;
}

.imagen{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin:0 auto;
}