.referencias{
    display: flex;
    flex-direction: column;
    /*align-items: center; */
    margin-top: 0.2rem;
    width: 100%;
    background-color: darkgray; 
    height: 95%;
    overflow-y: scroll;
    border: 0.5rem solid black;
    border-radius: 10px;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
}

table{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0.2rem solid black;
}

.titulos{
    background-color:#555555;
    color:rgba(235, 159, 8, 0.61);
    border: 1px solid whitesmoke;
}

.detalle{       
    text-align: center;            
    color: white;
    border: 1px solid whitesmoke;
}

.referencia{
    width: 300px;
}

.piso, .puerta{
    width: 25%;
}